@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Rye';
    src: url('/fonts/Rye-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Libre';
    src: url('/fonts/LibreBodoni-Bold.ttf') format('truetype');
}

